Task1_1/ConsoleApplication1/bin/*,Task1_1/ConsoleApplication1/bin/*, Task1_2/ConsoleApplication1/bin/*,Task1_2/ConsoleApplication1/bin/*, Task1_3/ConsoleApplication1/bin/*,Task1_3/ConsoleApplication1/bin/*, Task1_4/ConsoleApplication1/bin/*,Task1_4/ConsoleApplication1/bin/*, Task2/ConsoleApplication1/bin/*,Task2/ConsoleApplication1/bin/* 
